In [1]:
import json

In [2]:
import os

In [3]:
import pandas as pd

In [4]:
result_directories = [
    "baseline_results/baseline_results_10_dims",
    "baseline_results/baseline_results_50_dims",
    "baseline_results/baseline_results_100_dims",
    "baseline_results/baseline_results_gurobi"
]

In [5]:
def extract_function(file_name):
    candidates = ["Michalewicz", "Levy", "Ackley"]
    for cand in candidates:
        if cand in file_name:
            return cand
    
    assert False, "Function is not recognized from candidates {} for file {}.".format(candidates, file_name)

In [6]:
def extract_dimension(file_name):
    dimension = file_name.split("_")[1]
    assert str.isdigit(dimension), "Dimension {} is not an integer.".format(dimension)
    return int(dimension)

In [7]:
def extract_solver(file_name):
    candidates = ["scipy", "gurobi"]
    for cand in candidates:
        if cand in file_name:
            return cand
    
    assert False, "Solver is not recognized from candidates {} for file {}.".format(candidates, file_name)

In [8]:
def extract_algorithm(file_name):
    candidates = ["direct", "shgo", "differential_evolution", "dual_annealing", "brute", "basinhopping"]
    for cand in candidates:
        if cand in file_name:
            return cand
    
    assert False, "Algorithm is not recognized from candidates {} for file {}.".format(candidates, file_name)

In [9]:
def extract_seed(file_name):
    seed = file_name.strip(".json").split("_")[-1]
    assert str.isdigit(seed), "Seed {} is not an integer.".format(seed)
    return int(seed)

In [10]:
results = []

for result_dir in result_directories:
    path = os.path.join(result_dir, "results")
    for fn in os.listdir(path):
        entry_dict = {}
        function = extract_function(fn)
        solver = extract_solver(fn)
        if solver == "gurobi":
            algorithm = None
        else:
            algorithm = extract_algorithm(fn)
        dimension = extract_dimension(fn)
        seed = extract_seed(fn)
        
        info_dict = {
            "function": function,
            "solver": solver,
            "algorithm": algorithm,
            "dimension": dimension,
            "seed": seed,
        }
        with open(os.path.join(path, fn)) as f:
            result_dict = json.load(f)
        entry_dict.update(info_dict)
        entry_dict.update(result_dict)
        
        results.append(entry_dict)

In [11]:
for result in results:
    if result['algorithm'] == None:
        result['algorithm'] = 'gurobi'

In [12]:
df = pd.DataFrame(results)
df['timeout_reached'] = df['timeout_reached'].fillna(False)

In [13]:
result_df = df.sort_values(by=['dimension', 'function', 'solver', 'algorithm', 'seed'])

In [14]:
result_df

,function,solver,algorithm,dimension,seed,x,obj_val,time_elapsed,timeout_reached
247,Ackley,gurobi,gurobi,10,0,"[0.23199999999999776, 0.23199999999999776, 0.2...",1.042645,0.013975,False
264,Ackley,gurobi,gurobi,10,1,"[0.23199999999999776, 0.23199999999999776, 0.2...",1.042645,0.017745,False
230,Ackley,gurobi,gurobi,10,2,"[0.23199999999999776, 0.23199999999999776, 0.2...",1.042645,0.067047,False
236,Ackley,gurobi,gurobi,10,3,"[0.23199999999999776, 0.23199999999999776, 0.2...",1.042645,0.039329,False
225,Ackley,gurobi,gurobi,10,4,"[0.23199999999999776, 0.23199999999999776, 0.2...",1.042645,0.071417,False
...,...,...,...,...,...,...,...,...,...
184,Michalewicz,scipy,shgo,100,0,None,NaN,300.179816,True
180,Michalewicz,scipy,shgo,100,1,None,NaN,300.140381,True
151,Michalewicz,scipy,shgo,100,2,None,NaN,300.163152,True
166,Michalewicz,scipy,shgo,100,3,None,NaN,300.185741,True
208,Michalewicz,scipy,shgo,100,4,None,NaN,300.173559,True

In [15]:
statistics_df = df.groupby(by=['dimension', 'function', 'solver', 'algorithm']).agg(
    obj_mean=('obj_val', 'mean'),
    obj_min=('obj_val', 'min'),
    obj_max=('obj_val', 'max'),
    time_mean=('time_elapsed', 'mean'),
    time_min=('time_elapsed', 'min'),
    time_max=('time_elapsed', 'max'),
    num_seeds=('seed', 'count'),
    num_timeout=('timeout_reached', 'sum'),
).reset_index()

In [16]:
statistics_df

,dimension,function,solver,algorithm,obj_mean,obj_min,obj_max,time_mean,time_min,time_max,num_seeds,num_timeout
0,10,Ackley,gurobi,gurobi,1.042645e+00,1.042645e+00,1.042645e+00,0.041903,0.013975,0.071417,5,0
1,10,Ackley,scipy,basinhopping,2.035082e+01,1.959414e+01,2.088108e+01,2.863764,2.354912,3.241648,5,0
2,10,Ackley,scipy,differential_evolution,9.536743e-07,9.536743e-07,9.536743e-07,35.762184,20.978366,43.802227,5,0
3,10,Ackley,scipy,direct,9.536743e-07,9.536743e-07,9.536743e-07,2.037106,1.872341,2.143688,5,0
4,10,Ackley,scipy,dual_annealing,4.240036e-04,2.775192e-04,6.971359e-04,19.568395,14.712697,32.816207,5,0
5,10,Ackley,scipy,shgo,9.536743e-07,9.536743e-07,9.536743e-07,139.647766,118.605968,165.371123,5,0
6,10,Levy,gurobi,gurobi,-2.501127e-06,-2.501127e-06,-2.501127e-06,1.444201,1.354378,1.624628,5,0
7,10,Levy,scipy,basinhopping,2.241383e+01,7.975127e+00,3.431707e+01,4.138999,3.700006,4.351144,5,0
8,10,Levy,scipy,differential_evolution,7.684822e-15,7.665320e-15,7.713235e-15,51.508605,48.664711,54.141780,5,0
9,10,Levy,scipy,direct,1.335935e-01,1.335935e-01,1.335935e-01,2.693021,2.582871,2.814984,5,0
10,10,Levy,scipy,dual_annealing,7.287957e-11,8.981958e-12,1.599512e-10,41.478918,36.694818,44.867405,5,0
11,10,Levy,scipy,shgo,1.442601e+00,1.442601e+00,1.442601e+00,298.486634,291.761115,300.205043,5,4
12,10,Michalewicz,gurobi,gurobi,-9.772793e+00,-9.772793e+00,-9.772793e+00,0.528161,0.504500,0.555305,5,0
13,10,Michalewicz,scipy,basinhopping,-2.732905e+00,-3.438710e+00,-2.252850e+00,3.018807,2.558018,3.346216,5,0
14,10,Michalewicz,scipy,differential_evolution,-9.484499e+00,-9.565301e+00,-9.386164e+00,16.145341,11.283045,21.628815,5,0
15,10,Michalewicz,scipy,direct,-7.608747e+00,-7.608747e+00,-7.608747e+00,1.918605,1.836514,1.985207,5,0
16,10,Michalewicz,scipy,dual_annealing,-9.660065e+00,-9.660097e+00,-9.660034e+00,12.380915,11.820147,13.117426,5,0
17,10,Michalewicz,scipy,shgo,-3.004883e+00,-3.004883e+00,-3.004883e+00,121.952956,114.608954,133.757142,5,0
18,50,Ackley,gurobi,gurobi,1.042573e+00,1.042573e+00,1.042573e+00,0.124249,0.101833,0.134917,5,0
19,50,Ackley,scipy,basinhopping,2.082495e+01,2.055767e+01,2.100370e+01,5.227123,3.803067,6.952738,5,0
20,50,Ackley,scipy,differential_evolution,2.032276e+01,2.001984e+01,2.060331e+01,2.912870,2.611435,3.538627,5,0
21,50,Ackley,scipy,direct,9.536743e-07,9.536743e-07,9.536743e-07,2.147221,1.990047,2.268165,5,0
22,50,Ackley,scipy,dual_annealing,1.161003e-03,9.508133e-04,1.290321e-03,75.733446,69.447576,83.843677,5,0
23,50,Ackley,scipy,shgo,NaN,NaN,NaN,300.172125,300.159665,300.181097,5,5
24,50,Levy,gurobi,gurobi,-2.993485e-06,-2.993485e-06,-2.993485e-06,2.957542,2.830133,3.070616,5,0
25,50,Levy,scipy,basinhopping,2.296695e+02,1.555429e+02,2.859507e+02,11.894653,10.877523,12.859777,5,0
26,50,Levy,scipy,differential_evolution,1.152447e+00,2.976410e-10,4.028649e+00,296.934558,281.621619,301.843345,5,4
27,50,Levy,scipy,direct,5.076383e+00,5.076383e+00,5.076383e+00,2.240189,2.108191,2.398964,5,0
28,50,Levy,scipy,dual_annealing,1.778846e-10,1.475986e-11,4.094788e-10,240.381047,234.020416,248.260033,5,0
29,50,Levy,scipy,shgo,NaN,NaN,NaN,300.172348,300.159650,300.191817,5,5
30,50,Michalewicz,gurobi,gurobi,-4.964732e+01,-4.964732e+01,-4.964732e+01,2.346877,2.222253,2.430939,5,0
31,50,Michalewicz,scipy,basinhopping,-8.398158e+00,-8.780334e+00,-8.057598e+00,22.853289,13.135701,29.525875,5,0
32,50,Michalewicz,scipy,differential_evolution,-2.070478e+01,-2.119561e+01,-1.951951e+01,285.613729,259.715506,300.300055,5,1
33,50,Michalewicz,scipy,direct,-1.819764e+01,-1.819764e+01,-1.819764e+01,2.438116,2.174472,2.671257,5,0
34,50,Michalewicz,scipy,dual_annealing,-4.956479e+01,-4.958092e+01,-4.954641e+01,60.133188,55.448205,71.250082,5,0
35,50,Michalewicz,scipy,shgo,NaN,NaN,NaN,300.165185,300.079080,300.208320,5,5
36,100,Ackley,gurobi,gurobi,1.042666e+00,1.042666e+00,1.042666e+00,0.295165,0.281994,0.316089,5,0
37,100,Ackley,scipy,basinhopping,2.096953e+01,2.082580e+01,2.112079e+01,11.136277,8.186057,14.435031,5,0
38,100,Ackley,scipy,differential_evolution,2.064419e+01,2.042297e+01,2.078907e+01,5.128110,4.160829,5.794319,5,0
39,100,Ackley,scipy,direct,9.536743e-07,9.536743e-07,9.536743e-07,2.363501,2.040036,2.648655,5,0
40,100,Ackley,scipy,dual_annealing,2.144814e-03,1.988411e-03,2.310753e-03,154.450243,152.977935,155.297892,5,0
41,100,Ackley,scipy,shgo,NaN,NaN,NaN,300.174206,300.131501,300.195171,5,5
42,100,Levy,gurobi,gurobi,-4.562944e-07,-4.562944e-07,-4.562944e-07,17.609257,13.310075,18.930143,5,0
43,100,Levy,scipy,basinhopping,6.358636e+02,5.170986e+02,7.649130e+02,23.906313,16.480179,32.114002,5,0
44,100,Levy,scipy,differential_evolution,8.824900e+01,3.324954e+01,1.483485e+02,301.335982,300.572193,302.267755,5,5
45,100,Levy,scipy,direct,9.618610e+00,9.618610e+00,9.618610e+00,2.618576,2.489010,2.788398,5,0
46,100,Levy,scipy,dual_annealing,9.028798e-04,4.271512e-11,2.431180e-03,451.440961,375.989207,500.244064,5,2
47,100,Levy,scipy,shgo,NaN,NaN,NaN,300.167390,300.161049,300.173691,5,5
48,100,Michalewicz,gurobi,gurobi,-1.007597e+02,-1.007597e+02,-1.007597e+02,3.779289,3.353993,4.047797,5,0
49,100,Michalewicz,scipy,basinhopping,-1.735640e+01,-1.966746e+01,-1.502561e+01,108.672387,93.226228,127.855982,5,0
50,100,Michalewicz,scipy,differential_evolution,-2.987567e+01,-3.143438e+01,-2.932103e+01,300.653338,300.422037,300.794914,5,5
51,100,Michalewicz,scipy,direct,-3.639028e+01,-3.639028e+01,-3.639028e+01,3.893853,2.991455,4.180286,5,0
52,100,Michalewicz,scipy,dual_annealing,-9.941012e+01,-9.944584e+01,-9.938615e+01,207.845728,145.163933,281.689566,5,0
53,100,Michalewicz,scipy,shgo,NaN,NaN,NaN,300.168530,300.140381,300.185741,5,5

In [18]:
result_df.to_csv("result.csv", index=False)
statistics_df.to_csv("stats.csv", index=False)