In [1]:
import json

In [2]:
import os

In [3]:
import pandas as pd

In [4]:
result_directories = [
#     "baseline_results/baseline_results_10_dims",
#     "baseline_results/baseline_results_50_dims",
#     "baseline_results/baseline_results_100_dims",
#     "baseline_results/baseline_results_gurobi",
#     "baseline_results/baseline_results_200_dims",
    "baseline_results/baseline_results_Levy_7200_to",
]

In [5]:
def extract_function(file_name):
    candidates = ["Michalewicz", "Levy", "Ackley"]
    for cand in candidates:
        if cand in file_name:
            return cand
    
    assert False, "Function is not recognized from candidates {} for file {}.".format(candidates, file_name)

In [6]:
def extract_dimension(file_name):
    dimension = file_name.split("_")[1]
    assert str.isdigit(dimension), "Dimension {} is not an integer.".format(dimension)
    return int(dimension)

In [7]:
def extract_solver(file_name):
    candidates = ["scipy", "gurobi"]
    for cand in candidates:
        if cand in file_name:
            return cand
    
    assert False, "Solver is not recognized from candidates {} for file {}.".format(candidates, file_name)

In [8]:
def extract_algorithm(file_name):
    candidates = ["direct", "shgo", "differential_evolution", "dual_annealing", "brute", "basinhopping"]
    for cand in candidates:
        if cand in file_name:
            return cand
    
    assert False, "Algorithm is not recognized from candidates {} for file {}.".format(candidates, file_name)

In [9]:
def extract_seed(file_name):
    seed = file_name.strip(".json").split("_")[-1]
    assert str.isdigit(seed), "Seed {} is not an integer.".format(seed)
    return int(seed)

In [10]:
results = []

for result_dir in result_directories:
    path = os.path.join(result_dir, "results")
    for fn in os.listdir(path):
        entry_dict = {}
        function = extract_function(fn)
        solver = extract_solver(fn)
        if solver == "gurobi":
            algorithm = None
        else:
            algorithm = extract_algorithm(fn)
        dimension = extract_dimension(fn)
        seed = extract_seed(fn)
        
        info_dict = {
            "function": function,
            "solver": solver,
            "algorithm": algorithm,
            "dimension": dimension,
            "seed": seed,
        }
        with open(os.path.join(path, fn)) as f:
            result_dict = json.load(f)
        entry_dict.update(info_dict)
        entry_dict.update(result_dict)
        
        results.append(entry_dict)

In [11]:
for result in results:
    if result['algorithm'] == None:
        result['algorithm'] = 'gurobi'

In [12]:
df = pd.DataFrame(results)
df['timeout_reached'] = df['timeout_reached'].fillna(False)

In [13]:
result_df = df.sort_values(by=['dimension', 'function', 'solver', 'algorithm', 'seed'])

In [14]:
result_df

,function,solver,algorithm,dimension,seed,x,obj_val,time_elapsed,timeout_reached
32,Levy,gurobi,gurobi,100,0,"[1.0000038162216711, 1.0, 1.0, 1.0, 1.0, 1.0, ...",-4.562944e-07,11.858348,False
59,Levy,gurobi,gurobi,100,1,"[1.0000038162216711, 1.0, 1.0, 1.0, 1.0, 1.0, ...",-4.562944e-07,12.292553,False
24,Levy,gurobi,gurobi,100,2,"[1.0000038162216711, 1.0, 1.0, 1.0, 1.0, 1.0, ...",-4.562944e-07,12.160086,False
36,Levy,gurobi,gurobi,100,3,"[1.0000038162216711, 1.0, 1.0, 1.0, 1.0, 1.0, ...",-4.562944e-07,11.792055,False
41,Levy,gurobi,gurobi,100,4,"[1.0000038162216711, 1.0, 1.0, 1.0, 1.0, 1.0, ...",-4.562944e-07,11.473904,False
50,Levy,scipy,basinhopping,100,0,"[1.4780111553010977, 2.6696683769737475, 1.801...",6.336665e+04,12.977481,False
9,Levy,scipy,basinhopping,100,1,"[-0.8429698611808254, 4.308468889492457, -10.8...",6.728884e+04,12.184939,False
51,Levy,scipy,basinhopping,100,2,"[-1.8444784594659875, -8.51480716132838, 0.868...",6.750075e+04,11.434944,False
15,Levy,scipy,basinhopping,100,3,"[-0.2007073941437147, 3.975170076003068, -6.84...",6.213343e+04,13.984549,False
20,Levy,scipy,basinhopping,100,4,"[9.589958596449899, 3.1091506556874724, 10.621...",7.007667e+04,16.769771,False
34,Levy,scipy,differential_evolution,100,0,"[-2.2855414780173122, -0.46775363439945816, -8...",6.436728e+04,1514.455667,False
46,Levy,scipy,differential_evolution,100,1,"[-7.885721129942121, 3.705498974312804, 1.9447...",6.553347e+04,1333.826318,False
2,Levy,scipy,differential_evolution,100,2,"[6.724741039100346, -3.6275273454289825, 4.338...",6.738605e+04,1414.022020,False
56,Levy,scipy,differential_evolution,100,3,"[2.4752569919724032, 9.91408114389606, 2.74170...",6.597793e+04,1288.571079,False
17,Levy,scipy,differential_evolution,100,4,"[-6.85077120436665, -8.096866469125349, 2.1494...",6.764253e+04,1389.131278,False
40,Levy,scipy,direct,100,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",5.315829e+04,5.956666,False
48,Levy,scipy,direct,100,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",5.315829e+04,6.645055,False
19,Levy,scipy,direct,100,2,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",5.315829e+04,6.438920,False
7,Levy,scipy,direct,100,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",5.315829e+04,6.213081,False
43,Levy,scipy,direct,100,4,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",5.315829e+04,10.845012,False
5,Levy,scipy,dual_annealing,100,0,"[1.2307357534110537, 2.2298009153539198, 3.259...",1.636139e+04,234.408651,False
57,Levy,scipy,dual_annealing,100,1,"[1.2406870530513352, 2.2216306858368, 3.222518...",1.636138e+04,328.118187,False
18,Levy,scipy,dual_annealing,100,2,"[1.245465104080722, 2.2253593477981113, 3.2194...",1.636139e+04,274.051589,False
37,Levy,scipy,dual_annealing,100,3,"[1.2284134622568033, 2.2216486852420374, 3.232...",1.636138e+04,296.840011,False
11,Levy,scipy,dual_annealing,100,4,"[1.217625952265621, 2.24521526504612, 3.230615...",1.636139e+04,735.681609,False
33,Levy,scipy,shgo,100,0,None,NaN,7200.199961,True
14,Levy,scipy,shgo,100,1,None,NaN,7200.117647,True
47,Levy,scipy,shgo,100,2,None,NaN,7200.203017,True
31,Levy,scipy,shgo,100,3,None,NaN,7200.194983,True
35,Levy,scipy,shgo,100,4,None,NaN,7200.215185,True
49,Levy,gurobi,gurobi,200,0,"[1.0000028358258275, 1.0, 1.0, 1.0, 1.0, 1.0, ...",-4.124202e-07,7.825710,False
1,Levy,gurobi,gurobi,200,1,"[1.0000028358258275, 1.0, 1.0, 1.0, 1.0, 1.0, ...",-4.124202e-07,7.993145,False
13,Levy,gurobi,gurobi,200,2,"[1.0000028358258275, 1.0, 1.0, 1.0, 1.0, 1.0, ...",-4.124202e-07,7.623916,False
38,Levy,gurobi,gurobi,200,3,"[1.0000028358258275, 1.0, 1.0, 1.0, 1.0, 1.0, ...",-4.124202e-07,7.808173,False
26,Levy,gurobi,gurobi,200,4,"[1.0000028358258275, 1.0, 1.0, 1.0, 1.0, 1.0, ...",-4.124202e-07,7.437635,False
29,Levy,scipy,basinhopping,200,0,"[1.218883938307223, 4.763485061295432, 2.63898...",6.619398e+05,30.162165,False
21,Levy,scipy,basinhopping,200,1,"[-2.6859405135363597, 4.121376249456794, -10.8...",7.340133e+05,27.677265,False
58,Levy,scipy,basinhopping,200,2,"[-2.0375724470764593, -8.8095593427414, -0.486...",7.106686e+05,31.288245,False
0,Levy,scipy,basinhopping,200,3,"[1.1184698881853237, 5.173874749616217, -4.408...",6.761753e+05,22.127060,False
45,Levy,scipy,basinhopping,200,4,"[8.251607150819908, -0.0558965319374643, 8.520...",7.145452e+05,22.903980,False
28,Levy,scipy,differential_evolution,200,0,"[-5.172869573686115, -9.691277497021467, -3.82...",6.493422e+05,4201.712123,False
42,Levy,scipy,differential_evolution,200,1,"[2.374879503659, 2.904517796588608, 5.56647493...",6.633442e+05,3268.667448,False
30,Levy,scipy,differential_evolution,200,2,"[-7.490829204104972, -6.371804391561278, -4.23...",6.494977e+05,3360.262260,False
8,Levy,scipy,differential_evolution,200,3,"[-4.216554842462362, -4.942508190967285, 0.097...",6.531995e+05,3045.266311,False
55,Levy,scipy,differential_evolution,200,4,"[-1.7239170763532652, -7.82866940430059, 7.204...",6.658870e+05,3074.230878,False
52,Levy,scipy,direct,200,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",6.223000e+05,12.924777,False
53,Levy,scipy,direct,200,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",6.223000e+05,16.342058,False
44,Levy,scipy,direct,200,2,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",6.223000e+05,10.749344,False
25,Levy,scipy,direct,200,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",6.223000e+05,11.084791,False
16,Levy,scipy,direct,200,4,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",6.223000e+05,11.038718,False
54,Levy,scipy,dual_annealing,200,0,"[1.1436872963191718, 2.201438169897216, 3.1669...",1.480740e+05,699.996175,False
12,Levy,scipy,dual_annealing,200,1,"[1.2732031308123695, 2.2707155137957926, 3.364...",1.482012e+05,820.656397,False
10,Levy,scipy,dual_annealing,200,2,"[1.30439327159554, 2.2304500785583485, 3.28115...",1.481616e+05,565.590173,False
4,Levy,scipy,dual_annealing,200,3,"[1.2591188808283675, 2.256316264475309, 3.1873...",1.482533e+05,866.595322,False
39,Levy,scipy,dual_annealing,200,4,"[1.2392877302140626, 2.216418265213626, 3.1749...",1.480740e+05,708.176797,False
27,Levy,scipy,shgo,200,0,None,NaN,7200.197062,True
6,Levy,scipy,shgo,200,1,None,NaN,7200.198281,True
22,Levy,scipy,shgo,200,2,None,NaN,7200.183310,True
3,Levy,scipy,shgo,200,3,None,NaN,7200.201317,True
23,Levy,scipy,shgo,200,4,None,NaN,7200.180786,True

In [15]:
statistics_df = df.groupby(by=['dimension', 'function', 'solver', 'algorithm']).agg(
    obj_mean=('obj_val', 'mean'),
    obj_min=('obj_val', 'min'),
    obj_max=('obj_val', 'max'),
    time_mean=('time_elapsed', 'mean'),
    time_min=('time_elapsed', 'min'),
    time_max=('time_elapsed', 'max'),
    num_seeds=('seed', 'count'),
    num_timeout=('timeout_reached', 'sum'),
).reset_index()

In [16]:
statistics_df

,dimension,function,solver,algorithm,obj_mean,obj_min,obj_max,time_mean,time_min,time_max,num_seeds,num_timeout
0,100,Levy,gurobi,gurobi,-4.562944e-07,-4.562944e-07,-4.562944e-07,11.915389,11.473904,12.292553,5,0
1,100,Levy,scipy,basinhopping,6.607327e+04,6.213343e+04,7.007667e+04,13.470337,11.434944,16.769771,5,0
2,100,Levy,scipy,differential_evolution,6.618145e+04,6.436728e+04,6.764253e+04,1388.001272,1288.571079,1514.455667,5,0
3,100,Levy,scipy,direct,5.315829e+04,5.315829e+04,5.315829e+04,7.219747,5.956666,10.845012,5,0
4,100,Levy,scipy,dual_annealing,1.636139e+04,1.636138e+04,1.636139e+04,373.820010,234.408651,735.681609,5,0
5,100,Levy,scipy,shgo,NaN,NaN,NaN,7200.186159,7200.117647,7200.215185,5,5
6,200,Levy,gurobi,gurobi,-4.124202e-07,-4.124202e-07,-4.124202e-07,7.737716,7.437635,7.993145,5,0
7,200,Levy,scipy,basinhopping,6.994684e+05,6.619398e+05,7.340133e+05,26.831743,22.127060,31.288245,5,0
8,200,Levy,scipy,differential_evolution,6.562541e+05,6.493422e+05,6.658870e+05,3390.027804,3045.266311,4201.712123,5,0
9,200,Levy,scipy,direct,6.223000e+05,6.223000e+05,6.223000e+05,12.427938,10.749344,16.342058,5,0
10,200,Levy,scipy,dual_annealing,1.481528e+05,1.480740e+05,1.482533e+05,732.202973,565.590173,866.595322,5,0
11,200,Levy,scipy,shgo,NaN,NaN,NaN,7200.192151,7200.180786,7200.201317,5,5

In [25]:
result_df.to_csv("result_with_200.csv", index=False)
statistics_df.to_csv("stats_with_200.csv", index=False)

In [17]:
result_df.to_csv("Levy_results_7200_timeout.csv", index=False)
statistics_df.to_csv("Levy_stats_7200_timeout.csv", index=False)